n8n_template/n8n.json
[
  {
    "name": "SoraQueue - Dispatcher (Cron -> /run_async)",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd001",
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -560,
          180
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "NEW"
              }
            ]
          },
          "combineFilters": "AND",
          "options": {
            "returnAllMatches": "returnAllMatches"
          }
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd002",
        "name": "GS: Get NEW rows",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -320,
          180
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd003",
        "name": "Split in Batches (1)",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -80,
          180
        ]
      },
      {
        "parameters": {
          "keepOnlySet": false,
          "values": {
            "string": [
              {
                "name": "status",
                "value": "RUNNING"
              },
              {
                "name": "updated_at",
                "value": "={{$now.toISO()}}"
              },
              {
                "name": "run_at",
                "value": "={{$now.toISO()}}"
              }
            ]
          },
          "options": {}
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd004",
        "name": "Set RUNNING fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          160,
          180
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{$json.row_number}}",
              "status": "={{$json.status}}",
              "updated_at": "={{$json.updated_at}}",
              "run_at": "={{$json.run_at}}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd005",
        "name": "GS: Update row -> RUNNING",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          400,
          180
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5055/run_async",
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{$json.prompt}}"
              },
              {
                "name": "storyId",
                "value": "={{$json.story_id}}"
              },
              {
                "name": "scene",
                "value": "={{$json.scene}}"
              },
              {
                "name": "rowId",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "webhookUrl",
                "value": "http://localhost:5678/webhook/sora_done"
              }
            ]
          },
          "options": {
            "timeout": 900000,
            "retry": {
              "maxTries": 3,
              "waitBetweenTries": 2000
            }
          }
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd006",
        "name": "HTTP: /run_async",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          640,
          180
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\n\n// /run_async returns { ok, jobId, status, storyId, scene, rowId }\nif (!body.ok) {\n  return [{\n    ...$json,\n    _dispatchOk: false,\n    last_error: body.error || 'run_async failed',\n    updated_at: new Date().toISOString(),\n  }];\n}\n\nreturn [{\n  ...$json,\n  _dispatchOk: true,\n  job_id: body.jobId || '',\n  updated_at: new Date().toISOString(),\n}];"
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd007",
        "name": "Code: Normalize dispatch result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          180
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json._dispatchOk}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd008",
        "name": "IF: dispatch ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          180
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{$json.row_number}}",
              "job_id": "={{$json.job_id}}",
              "updated_at": "={{$json.updated_at}}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd009",
        "name": "GS: Save job_id",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1360,
          120
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{$json.row_number}}",
              "status": "ERROR",
              "last_error": "={{$json.last_error}}",
              "updated_at": "={{$json.updated_at}}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "c0f5f0e6-3f06-4c8d-86a5-2f1b74bbd010",
        "name": "GS: Mark ERROR (dispatch)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1360,
          260
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "GS: Get NEW rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS: Get NEW rows": {
        "main": [
          [
            {
              "node": "Split in Batches (1)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split in Batches (1)": {
        "main": [
          [
            {
              "node": "Set RUNNING fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GS: Get NEW rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set RUNNING fields": {
        "main": [
          [
            {
              "node": "GS: Update row -> RUNNING",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS: Update row -> RUNNING": {
        "main": [
          [
            {
              "node": "HTTP: /run_async",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: /run_async": {
        "main": [
          [
            {
              "node": "Code: Normalize dispatch result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Normalize dispatch result": {
        "main": [
          [
            {
              "node": "IF: dispatch ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: dispatch ok?": {
        "main": [
          [
            {
              "node": "GS: Save job_id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GS: Mark ERROR (dispatch)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "executionTimeout": 3600
    },
    "id": "SORAQUEUE_DISPATCHER_V1",
    "tags": []
  },
  {
    "name": "SoraQueue - Sora Done Webhook (Update DONE + Trigger Merge)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sora_done",
          "options": {}
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6001",
        "name": "Webhook: sora_done",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -640,
          200
        ],
        "webhookId": "sora_done_prod_v1"
      },
      {
        "parameters": {
          "jsCode": "const root = $json || {};\nconst body = root.body || {};\nconst result = body.result || {};\n\nconst ok = !!body.ok;\nconst finished = !!(result.finished);\n\n// Hard requirement: your FastAPI only calls webhook when finished=true,\n// but we still defensively check.\nif (!finished) {\n  return [{\n    ...root,\n    _ok: false,\n    _status: 'ERROR',\n    row_number: body.rowId ?? null,\n    story_id: body.storyId || '',\n    scene: body.scene ?? null,\n    local_path: '',\n    last_error: 'Webhook received but finished=false',\n    updated_at: new Date().toISOString(),\n  }];\n}\n\nconst downloadedPath = result.downloaded_path || '';\n\nif (!ok || !downloadedPath) {\n  return [{\n    ...root,\n    _ok: false,\n    _status: 'ERROR',\n    row_number: body.rowId ?? null,\n    story_id: body.storyId || '',\n    scene: body.scene ?? null,\n    local_path: downloadedPath || '',\n    last_error: (body.stderr || body.stdout || 'Unknown sora error').toString().slice(0, 1500),\n    updated_at: new Date().toISOString(),\n  }];\n}\n\nreturn [{\n  ...root,\n  _ok: true,\n  _status: 'DONE',\n  row_number: body.rowId ?? null,\n  story_id: body.storyId || '',\n  scene: body.scene ?? null,\n  local_path: downloadedPath,\n  job_id: body.jobId || '',\n  updated_at: new Date().toISOString(),\n}];"
        }
      },
      {
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6002",
        "name": "Code: Normalize sora_done payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          200
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{$json.row_number}}",
              "story_id": "={{$json.story_id}}",
              "scene": "={{$json.scene}}",
              "status": "={{$json._status}}",
              "local_path": "={{$json.local_path}}",
              "job_id": "={{$json.job_id}}",
              "last_error": "={{$json.last_error}}",
              "updated_at": "={{$json.updated_at}}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6003",
        "name": "GS: Update row (DONE/ERROR)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -160,
          200
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "story_id",
                "lookupValue": "={{$json.story_id}}"
              }
            ]
          },
          "combineFilters": "AND",
          "options": {
            "returnAllMatches": "returnAllMatches"
          }
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6004",
        "name": "GS: Get ALL rows for story_id",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          80,
          200
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\nconst storyId = rows[0]?.story_id || '';\n\nconst statuses = rows.map(r => String(r.status || ''));\nconst alreadyMerged = statuses.includes('MERGED_DONE');\nconst alreadyMerging = statuses.includes('MERGING');\n\nconst doneClips = rows\n  .filter(r => String(r.status||'') === 'DONE' && r.local_path)\n  .map(r => ({ scene: Number(r.scene||0), local_path: String(r.local_path) }));\n\ndoneClips.sort((a,b) => a.scene - b.scene);\n\nreturn [{\n  story_id: storyId,\n  ready: doneClips.length === 6,\n  clipCount: doneClips.length,\n  clips: doneClips,\n  alreadyMerged,\n  alreadyMerging,\n}];"
        }
      },
      {
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6005",
        "name": "Code: ready==6 + idempotency flags",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json.ready}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              },
              {
                "leftValue": "={{$json.alreadyMerged}}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              },
              {
                "leftValue": "={{$json.alreadyMerging}}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6006",
        "name": "IF: Trigger merge now?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          560,
          200
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "story_id": "={{$json.story_id}}",
              "status": "MERGING",
              "updated_at": "={{$now.toISO()}}"
            },
            "matchingColumns": [
              "story_id"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6007",
        "name": "GS: Set story MERGING (guard)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          800,
          120
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5055/process",
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "storyId",
                "value": "={{$json.story_id}}"
              },
              {
                "name": "clips",
                "value": "={{$json.clips}}"
              },
              {
                "name": "webhookUrl",
                "value": "http://localhost:5678/webhook/media_done"
              }
            ]
          },
          "options": {
            "timeout": 900000,
            "retry": {
              "maxTries": 2,
              "waitBetweenTries": 3000
            }
          }
        },
        "id": "d0b6a2a1-3d9d-4f0d-8a03-e94b2d9c6008",
        "name": "HTTP: /process (merge/captions/music)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          280
        ]
      }
    ],
    "connections": {
      "Webhook: sora_done": {
        "main": [
          [
            {
              "node": "Code: Normalize sora_done payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Normalize sora_done payload": {
        "main": [
          [
            {
              "node": "GS: Update row (DONE/ERROR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS: Update row (DONE/ERROR)": {
        "main": [
          [
            {
              "node": "GS: Get ALL rows for story_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS: Get ALL rows for story_id": {
        "main": [
          [
            {
              "node": "Code: ready==6 + idempotency flags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: ready==6 + idempotency flags": {
        "main": [
          [
            {
              "node": "IF: Trigger merge now?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: Trigger merge now?": {
        "main": [
          [
            {
              "node": "GS: Set story MERGING (guard)",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "GS: Set story MERGING (guard)": {
        "main": [
          [
            {
              "node": "HTTP: /process (merge/captions/music)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "executionTimeout": 3600
    },
    "id": "SORAQUEUE_SORADONE_V1",
    "tags": []
  },
  {
    "name": "SoraQueue - Media Done Webhook (Mark MERGED_DONE + video_url)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "media_done",
          "options": {}
        },
        "id": "a1b7c27a-fe14-44f7-b9b8-720a6c76724f",
        "name": "Webhook: media_done",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -520,
          200
        ],
        "webhookId": "media_done_prod_v1"
      },
      {
        "parameters": {
          "jsCode": "const body = ($json.body || {});\nconst result = (body.result || {});\n\nconst mergedDone = !!result.merged_done;\n\nreturn [{\n  story_id: body.storyId || '',\n  status: mergedDone ? 'MERGED_DONE' : 'ERROR',\n  video_url: mergedDone ? (result.output_video || '') : '',\n  last_error: mergedDone ? '' : String(body.stderr || body.stdout || 'merge failed').slice(0,1500),\n  updated_at: new Date().toISOString(),\n  merged_done: mergedDone,\n}];"
        }
      },
      {
        "id": "a1b7c27a-fe14-44f7-b9b8-720a6c76724g",
        "name": "Code: Normalize media_done",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -280,
          200
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1lrq-aIjDe7j_mW1OVhJgQwziMcI_FpQGIMPQSJJcvoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "story_id": "={{$json.story_id}}",
              "status": "={{$json.status}}",
              "video_url": "={{$json.video_url}}",
              "last_error": "={{$json.last_error}}",
              "updated_at": "={{$json.updated_at}}"
            },
            "matchingColumns": [
              "story_id"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "a1b7c27a-fe14-44f7-b9b8-720a6c76724h",
        "name": "GS: Mark story MERGED_DONE (or ERROR)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -40,
          200
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "REPLACE_WITH_YOURS",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Webhook: media_done": {
        "main": [
          [
            {
              "node": "Code: Normalize media_done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Normalize media_done": {
        "main": [
          [
            {
              "node": "GS: Mark story MERGED_DONE (or ERROR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "executionTimeout": 3600
    },
    "id": "SORAQUEUE_MEDIADONE_V1",
    "tags": []
  }
]